<h2> Hi <%=current_user.username%>! Welcome to your virtual car garage!</h2>

<h3>What would you like to do?</h3>
<p><a href='/cars/new'>Enter a New Car</a></p>
<p><a href='/cars'>View All Your Cars</a></p>