<h1>Enter your car's information</h1>
<form action="/cars" method="post">
<label>Make:</label>
<input type="text" name="make">
<label>Model:</label>
<input type="text" name="model">
<label>Year:</label>
<input type="text" name="year">
<label>Trim:</label>
<input type="text" name="trim"><br>
<input type="submit" value="Create Car Entry">
</form>


